
/* 
.transform{
	display:block; 
	width:50px; height:50px; 
	background:#333; 
	margin: 50px auto; 
	transform: rotateX(25deg);
}
.box1{perspective-origin:center; }

.transform{animation: rotateAni 4s linear infinite;} */
@keyframes rotateAni{
	0%{transform: rotateX(45deg)}
	70%{transform: rotateX(45deg)}
	80%{transform: rotateX(0)}
	90%{transform: rotateX(0)}
}
.tempPos{ position: relative; }




:root{
	--btime-text-color: hsl(0 0% 7%);
	--btime-border-color: hsl(0 0% 65%);
	--btime-border-radius : 6px;
	--btime-placeholder-color : hsl(0 0% 75%);
	--btime-maxItem : 3;

	--btime-item-height : calc( (1em + 6px) * 2);
	--btime-item-height-selected : calc( (1em + 6px) * 2); /* 2.5 */

	--btime-ctrl-height : calc( 2.5em + 0px );
}

input.bTimepicker-init{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	padding: 4px 12px;
	padding-left: 12px;
	color: var(--btime-text-color, #000);
	border: 1px solid var(--btime-border-color);
	box-sizing: border-box;
	vertical-align: middle;
	border-radius: var(--btime-border-radius);
	font-size: 15px;
	background-color: hsl(0, 0%, 100%);
	min-height: 42px;

}
input.bTimepicker-init::placeholder{ color: var(--btime-placeholder-color); }
.bTimepicker-init {
	background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='hsl(200deg 5%25 80%25)' fill-rule='evenodd' clip-rule='evenodd' d='M10.2744 20C15.7973 20 20.2744 15.5228 20.2744 10C20.2744 4.47715 15.7973 0 10.2744 0C4.75157 0 0.274414 4.47715 0.274414 10C0.274414 15.5228 4.75157 20 10.2744 20ZM11.2744 4.16797C11.2744 3.61568 10.8267 3.16797 10.2744 3.16797C9.72213 3.16797 9.27441 3.61568 9.27441 4.16797V10.168C9.27441 10.5467 9.48842 10.893 9.8272 11.0624L13.8272 13.0624C14.3212 13.3094 14.9219 13.1092 15.1688 12.6152C15.4158 12.1212 15.2156 11.5205 14.7216 11.2735L11.2744 9.54993V4.16797Z' /%3E%3C/svg%3E%0A");

	background-repeat: no-repeat;
	background-position: .65em center;
	padding-left: 2.6em !important;
	flex:	0 1 auto;
	width: calc( 8em + 2.6em) !important;
	letter-spacing: 1px;
	min-width: 8em;
	background-size: 1.3em;
}


.bTimepicker-wrap {



	position: relative; 
	display: block;
	font-size: 1em;
	padding: 0 0em;
	z-index:0;
	background-color: #fefefe;
	border-radius: 4px ;

	position: absolute;
	left: 50%;
	top: 45%;

	box-shadow: 0 8px 15px 10px hsl( 0deg 0% 0% / .1);
	overflow: hidden;

	-webkit-tap-highlight-color: transparent;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE 10+ */
    user-select: none;          /* Standard syntax */
	
}

.bTimepicker-wrap:before{
	content: '';
	position: absolute;
	width: calc(100% - 4px);
	height: var(--btime-item-height-selected);
	background-color: hsl(195deg 100% 8% / .06);
	border-radius: 4px;
	top: 50%;
	left: 2px;
	transform: translateY(-50%);
	z-index: -1;
	mix-blend-mode: darken;
}
.bTimepicker-wrap:has(.ctrl)::before{
	top: calc(50% - 3px - ( var(--btime-ctrl-height) / 2 ));
}

.bTimepicker-wrap [class*="-wrap"]{
	float: left;
	width: 4em;
	height: 100%;
	max-height: calc( var(--btime-item-height)  * var(--btime-maxItem, 3) );
	overflow-x: hidden;
	overflow-y: auto;
	scroll-behavior: smooth;

	/* scrollbar-width: thin;
	scrollbar-color: black white; */

	-ms-overflow-style: none; /* for Internet Explorer, Edge */
	scrollbar-width: none; /* for Firefox */

	box-sizing: border-box;
}

.bTimepicker-wrap [class*="-wrap"]::-webkit-scrollbar{ display: none; }

.bTimepicker-wrap ol { 
	list-style: none; 
	padding:0 !important; 
	margin: 0 !important; 
	transition: all .3s  ease-out;

	margin-block-start: 0em;
	margin-block-end: 0em;
	padding-inline-start: 0px;

	/*  
	perspective:200px;
	perspective-origin:center; */ 
}

.bTimepicker-wrap .item{ 
	display: block;
	height: var(--btime-item-height);
	padding: 0;
	text-align: center;
	line-height: var(--btime-item-height);
	cursor: pointer;
	opacity: .6; 

	transition: all .3s ease-out;
	font-size: 1em;

	-ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.bTimepicker-wrap .selected{ 
	font-weight: 600; opacity: 1;
	color: var(--btime-text-color);
	/* height: var(--btime-item-height-selected);  
	line-height: var(--btime-item-height-selected); */
}


.bTimepicker-wrap .ctrl{
	clear: both;
	position: relative;
	top: 100%;
	display:  flex;
	width: 100%;
	height: var(--btime-item-height);
	border-top: 1px solid #f0f0f0;
	
	/* box-shadow: 0 8px 15px 0px hsl( 0deg 0% 0% / .1); */

	overflow: hidden;
}

.bTimepicker-wrap .ctrl > button{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 0;
	background-color: #fff;
	flex:1;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	color: #767676;
	font-size: calc(1em - 2px);
	
	--maskimg : url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 6L9 17L4 12' stroke='black' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");

	line-height: 1;
	
}
.bTimepicker-wrap .ctrl > button::before{
	content: '';
	display: block;
	width: calc(1em + 2px);
	height:  calc(1em + 2px);
	margin: auto;
	background-color: currentColor;

	
	
	-webkit-mask-image: var(--maskimg);
	mask-image: var(--maskimg);

	-webkit-mask-position: center;
	mask-position: center;

	-webkit-mask-image: no-repeat;
	mask-repeat: no-repeat;

	-webkit-mask-size: contain;
	mask-size: contain;

}
.bTimepicker-wrap .ctrl .ok{ color: #0a73e2;}
.bTimepicker-wrap .ctrl .cancel{ --maskimg : url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 6L6 18M6 6L18 18' stroke='black' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");  }

.bTimepicker-wrap .ctrl > button:hover{ filter:contrast(95%) }
/* .testTime .item:has( + .selected){ transform: rotateX(15deg); }
.testTime .selected + .item { transform: rotateX(-40deg); } 

ds / itemHeight

*/

.btpicker-alert-msg{
	
	--btmsg-bg : hsl(0 55% 45% / 1);
	font-size: 13px;
	padding: 4px 8px;
	background-color: var(--btmsg-bg);
	color: #fff;
	border-radius: 3px;
	line-height: 1.3;
	
	--ty : calc(-100% - 6px);
	transform: translateY(var(--ty));
	box-shadow: 0 0px 4px hsl(0 55% 40% / .3);
}
.btpicker-alert-msg:after{
	content: '';
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0; 
	border: 6px solid transparent;
	border-top: 6px solid  var(--btmsg-bg);
	top: 100%;
	left: 1em;
	
}
