@charset "UTF-8";
:root {
	--upload-line-color: hsl(210, 14%, 93.1%);
	--upload-border-radius : 8px;
	--upload-text-color: hsl(217 13% 54%);
	--upload-bg-color: hsl(220 23% 97%);

	--upload-item-width : 64px; /* 4em */
	--upload-row-gap : 4px;
	--upload-col-gap : 4px;

	--upload-min-width : calc( var(--upload-item-width) * 3 + ( var(--upload-col-gap) * 2 ) + 4px + 4px + 1px + 1px );
	--upload-max-width: calc( var(--upload-item-width) * 5 + ( var(--upload-col-gap) * 4 ) + 4px + 4px + 1px + 1px );
}

button {
	text-transform: none;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: 0;
	padding: 0;
	line-height: 1;
}

.upload.type1{
	position: relative;
	color: var(--upload-text-color);
	/* overflow: hidden; */

	display: inline-flex;	

	border:1px solid ;
	border-color: transparent;
	border-radius: var(--upload-border-radius);

	flex-wrap: wrap;
	/* background-color: hsl(0 0% 92%); */
}


.upload.type1:has([type="file"]),
.upload.type1:has(.btn){  /* border-color: var(--line-color); */  }
.upload.type1 .btn:has([type="file"]){
	flex: none;
	align-self: baseline;
	background-color: #ccc;
	min-width: auto;
	width: 2em;
	height: 100%;
	padding: 0;
	border: 0;
	border-radius: 4px;
	color: #fff;
	margin: 0;
}
.upload.type1 .btn:has([type="file"])::before{ content: 'add';} /* 임시 */

.upload.type1 input[type="file"]{
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	font-size: 1em;
	opacity: 0;
	padding: 0;
	line-height:100%;
	border:0;
}
.upload.type1 .fileBox{
	position: relative;
	z-index: 1;
	flex:1;
	list-style: none;
	display: block;
	padding: 4px 0;
	margin:0;

	flex-basis: 100%;
	
}
.upload.type1 .fileBox .item{ 
	position: relative;
	display: flex; 
	gap: 4px;
	background-color: hsl(0 0% 97%);
	padding: 2px;
	margin:0;
}
/* .upload.type1 .fileBox .item .figcaption > *:not(.title){ display: none;} */
.upload.type1 .fileBox .item .figcaption .title{
	display: block;
	white-space: nowrap;
	overflow: hidden;text-overflow: ellipsis;
}
.upload.type1:has(.fileBox .item) .btn:has([type="file"]){
	overflow: hidden;
}
.upload.type1 .fileBox > .item .ctrl .btn{
	position: relative;
	display: inline-block;
	padding: 2px;
	font-size: 12px;
	background-color: #222;
	color: #fff;
}





.upload.type2{
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	max-width: var(--upload-max-width);
	height: calc( var(--upload-item-width) * 2 );
	color: var(--upload-text-color);
	/* background-color: var(--upload-bg-color);  */
	border-radius: var(--upload-border-radius);
	border:1px dashed ;
	border-color: transparent;  /*  */
	overflow: hidden;
	
	padding: 4px;
}
.upload.type2:has([type="file"]),
.upload.type2:has(.btn){ border-color: #ccc;  /* var(--upload-line-color) */  }
.upload.type2 > .btn{
	display: flex;
	/* flex-direction: column; */
	justify-content: center;
	align-items: center;
	gap: 8px;
	width: 100%; height: 100%;
	background-color: transparent;
	box-sizing: border-box;
}
.upload.type2 > .btn::after{
	content: attr(data-ui-placeholder);
	display: block;
	margin-top: 12px;
	font-size: 12px;
}
.upload.type2 input[type="file"]{
	position: absolute;
	width: 100%; height: 100%;
	opacity: 0;
	cursor: pointer;
	left:0; top: 0;
}
.upload.type2 .fileBox{
	position: absolute;
	display: block;
	width: 100%; height: 100%;
	z-index: -1;

	width: 100%;
}
.upload.type2 .fileBox:has(>.item){z-index: 1;}

.upload.type2 .fileBox > .item{
	display: block;
	height: 100%;
}
.upload.type2 .fileBox > .item img{
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 4px;

	object-fit: cover;
	object-position: center;
}
.upload.type2 .fileBox > .item .figcaption{
	position: absolute;
	z-index: 3;
	right: 3%;
	bottom: 3%;
}
.upload.type2 .fileBox > .item .figcaption .title{ }





.upload.type3{
	position: relative;
	color: var(--upload-text-color);
	overflow: hidden;

	display: inline-block;	
	border:1px solid ;
	border-color: transparent;
	border-radius: var(--upload-border-radius);

	z-index: 1;
	flex:1;
	list-style: none;

	font-size: 1em;
	padding: var(--upload-col-gap);
	min-width: var(--upload-min-width);
	max-width: var(--upload-max-width);
	min-height: calc(var(--upload-item-width) + 4px + 4px + 1px + 1px);
	
	width: 100%;
}

.upload.type3 { 
	border-color: var(--upload-line-color);
	/* background-color: #fafafa;  */
}
.upload.type3 > .btn {	
	position: absolute;
	flex: none;
	background-color: var(--upload-bg-color);
	width: var(--upload-item-width);
	height:  var(--upload-item-width);
	border-radius: var(--upload-border-radius);
	border: 0px dashed var(--upload-line-color);
	padding: 0;
	font-size: 1em;
	top: 4px;
	left: 4px;
	z-index: 3;
}
.upload.type3 .btn svg{
	font-size: 1em;
	width: 1.5em;
	height: 1.5em;
}
.upload.type3 > .btn svg{ opacity: .6; }
.upload.type3 > .btn:hover svg{ opacity: 1; }

.upload.type3 input[type="file"]{ display: none; opacity: 0;  }

.upload.type3 .fileBox{
	display: flex;
	flex-wrap: wrap;
	gap: var(--upload-row-gap) var(--upload-col-gap);
	width: 100%;
	height: 100%;
}
.upload.type3 .fileBox > .item{
	position: relative;
	display: inline-block;
	width:  var(--upload-item-width); height:  var(--upload-item-width);
	margin: 0;
}
.upload.type3:has( > .btn) .fileBox > .item:first-of-type{
	margin-left: calc(var(--upload-item-width) + 4px);
}
.upload.type3 .fileBox > .item img{
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	object-fit: cover;
}
.upload.type3 .fileBox > .item .figcaption{
	position: absolute;
	width: 100%; height: 100%;
	left: 0;
	top:0;
}
.upload.type3 .fileBox > .item .figcaption > *:not(.ctrl){ display: none; }
.upload.type3 .fileBox > .item .figcaption .ctrl{ text-align: right; padding: 4px; }
.upload.type3 .fileBox > .item .figcaption .ctrl .btn{

	display: inline-flex;
	align-items: center;
	padding: 0px; /* 2px */
	font-size: 1em; /* 글자로 들어가는 경우 12px */
	background-color: #222;

	color: #fff;

	width: 1.5em;
	height: 1.5em;
	overflow: hidden;
}



